:root{
    --primary:#272727;
    --secondry:#FF4400;
    --text:#474747;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}


header, main, footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
}
header>*, footer>*, main>*{
    width: min(1000px, 100%);
    display: flex;
}


h1, h2, h3, strong{
    color: var(--primary);
}
p,li,a, label, input, select{
    color: var(--text);
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
}

.clm, ul, li, main>*{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.effect>a, .hover{
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.effect>a:hover, .hover:hover{
    transform: translateY(-5px);
}
.hover:hover{
    box-shadow: 0px 0px 4px rgb(94, 94, 94);
}


hr{
    border-top: 1px solid gainsboro;
}
.clr{
    color: var(--secondry);
}



.header{
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
nav>img, .header>img{
    display: none;
}




main{
    margin: 20px 0px;
    gap: 50px;
}
main>*>p, main>*>span, main>*>li, main>*>a, main>*>b{
    font-size: 18px;
}










footer{
    background-color: var(--primary);
    padding-top: 50px;
}
.footer>.logo{
    color: #fff;
}
.footer>p, .site>a, small{
    color: gainsboro;
}
.site, .social{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.social>a{
    font-size: 0;
}
.social>a>img{
    background-color: #fff;
    padding: 4px;
    border-radius: 50%;
}
small{
    justify-content: center;
}


@media(max-width:600px){
    .header>img, nav>img{
        display: flex;
    }
    nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;
        opacity: 0;
        overflow: hidden;
        justify-content: center;
        background-color: var(--primary);
        flex-direction: column;
        transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    nav>a{
        color: #fff;
    }
    nav>img{
        position: absolute;
        top: 25px;
        right: 20px;
    }
    nav.show {
        opacity: 1;
        width: 60%;
    }
}
